.vf-highlighted {
    background-color: #ffff01;
    color: #000000;
    display: inline !important;
}

.vf-highlighted-hover {
    border-top: 2px solid #6afff3 !important;
    border-bottom: 2px solid #6afff3 !important;
    cursor: pointer !important;
}