body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: rgb(9, 154, 250);
    font-size: 16pt;
    color: #FFF;
}

.banner {
    background-color: rgb(14, 104, 163);
    margin-bottom:20px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-right: 15px;
    padding-left: 15px;
    text-align:center;
}

.banner h1 {
    /* Remove margins impued to banner by h1 tags on default*/
    margin-top: 0px;
    margin-bottom: 0px;
}

.boton {
    background-color: rgb(14, 104, 163);
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;

    cursor: pointer;
    border-radius: 5px;
}

.form-element {
  display: flex;
  justify-content: space-between;
  max-width: 53%;
  padding: 10px 0;
  margin-left:25%;
  margin-bottom: 16px;
  font-weight: bold;
}

/* CSS for select boxes
 * Based on following: https://codepen.io/FrankieDoodie/pen/Pyrqyp
 */

 select {
  background-color: rgb(14, 104, 163);
  color: white;
  height: 24px;
  width: 100px;
  margin-top: 15px;
  /* To make sure default arrows don't show up */
  -webkit-appearance: button;
  border: none;
  outline: none;
}

.box {
  position: relative;
}
.box::before {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 0px;
  text-align: center;
  font-size: 14pt;
  line-height: 53px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}



/* CSS for toggle button
 * Original from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch
 */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 6px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;

}

input:checked + .slider {
  background-color: rgb(5, 90, 160);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(5, 90, 160);
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
